<app-navigations>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-accordion class="example-headers-align mt-3" multi>
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                add manga
              </mat-panel-title>
              <mat-panel-description>
                new manga
                <mat-icon>add</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form>
              <mat-form-field appearance="outline" class="example-full-width mt-3">
                <mat-label>ชื่อเรื่อง</mat-label>
                <input matInput name="titlename" [(ngModel)]="titlename" >
              </mat-form-field>
              <div class="row mt-3">
                <div class="col-md-6">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>bookid</mat-label>
                    <input matInput type='text' name="bookid" [(ngModel)]="bookid" disabled>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>ประเภท</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="types">
                      <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <mat-form-field appearance="legacy" class="example-full-width mt-3">
                <mat-label>เรื่องย่อ</mat-label>
                <input matInput type='texta' name="discription" [(ngModel)]="discription">
              </mat-form-field>

              <div class="text-center mt-5">
                <button mat-stroked-button color="primary" (click)="Updatetitle()">update
                </button>
              </div>
            </form>


          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div class="mb-5"></div>
</app-navigations>
