<!-- <header>
  <mat-toolbar color="primary">
    <a routerLink="/" class="logo"></a>
    <span class="example-spacer"></span>
    <a class="links side" routerLink="/auth/login" *ngIf="!user">Login</a>
    <div>
      <a class="links side" *ngIf="user" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>{{ user.fullname }}
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="user?.isAdmin" routerLink="/admin">admin</button>
        <button mat-menu-item (click)="logout()">logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">

  <a class="navbar-brand" href="/">manga society</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <button mat-button color="primary" routerLink="/auth/register" *ngIf="!user">สมัครสมาชิก <mat-icon>person_add</mat-icon></button>
      </li>
      <li class="nav-item">
        <button mat-button color="primary" routerLink="/auth/login" *ngIf="!user">เข้าสู่ระบบ <mat-icon>login</mat-icon></button>
      </li>
      <li>
        <button mat-button color="primary" routerLink="/{{user.roles}}" *ngIf="user"> {{ user.fullname }} <mat-icon>dashboard</mat-icon> </button>
      </li>
      <li>
        <button mat-button color="primary" (click)="logout()" *ngIf="user">ออกจากระบบ <mat-icon>logout</mat-icon></button>
      </li>
    </ul>
  </div>

</div>
</nav>
